/* theme color */
$--color-primary: #37447E;
$--color-warning:#B33771;
$--color-success:#929ECC;
$--color-danger:#FC427B;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";