@charset "UTF-8";

// ---------------------------------------------------------------
// Colors
// ---------------------------------------------------------------
$white: #fff;
$black: #000;

// $bg-primary: #545C64;
$bg-white: #fff;
$bg-gray: #545C64;

$font-white: #fff;
$font-black: #2c3e50;
$font-active-primary: #37447E;

$form-gray: #9b9b9b;

$form-primary: #37447E;
$form-primary-light: #929ECC;
$form-secondary: #9b9b9b;


// ---------------------------------------------------------------
// fonts
// ---------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$font-mini: 9px;
$font-small: 15px;
$font-medium: 20px;