.dashboard {
    display: flex;
    width: 100%;
    justify-content: space-around;

    .dashboard__form-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      position: relative;
      z-index: 1;
      width: 100%;
      height: 500px;
      .dashboard__form {
        width: 80%;
        .goal {
          zoom: 1;
          filter: alpha(opacity=60);
          opacity: 0.9;
          .el-card__body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 50px;
          }
          .form__group {
            position: relative;
            margin-top: 10px;
            width: 80%;
            font-size: $font-medium;
            text-align: left;
            .form__text {
              margin-right: 10px;
            }
            .form__text-right {
              display: block;
              text-align: right;
            }
            
            .form__field {
              margin-right: 10px;
              font-family: inherit;
              width: 70%;
              border: 0;
              border-bottom: 1px solid $form-gray;
              outline: 0;
              font-size: 1.05rem;
              color: $form-gray;
              padding: 2px 0;
              background: transparent;
              transition: border-color 0.2s;
              text-align: center;

              &::placeholder {
                color: transparent;
              }
            
              &:placeholder-shown ~ .form__label {
                font-size: 1.3rem;
                cursor: text;
                top: 20px;
              }
            }
            .select-genre {
              border-bottom: none;
              width: 70%;
            }
            .input-frequent {
              width: 35%;
            }
            .input-page {
              width: 20%;
            }
            .form__field:focus {
              // ~ .form__label {
              //   position: absolute;
              //   top: 0;
              //   display: block;
              //   transition: 0.2s;
              //   font-size: 1rem;
              //   color: $form-primary;
              //   font-weight: 700;
              // }
              // padding-bottom: 6px;
              // font-weight: 500;
              // border-width: 2px;
              // border-image: linear-gradient(to right, $form-primary, $form-secondary);
              // border-image-slice: 1;
          }
            .form__label {
              // position: absolute;
              // top: 0;
              // display: block;
              // transition: 0.2s;
              // font-size: 1rem;
              // color: $form-gray;
              visibility: hidden;
            }
            
          }
          .form__button {
            width: 80%;
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
  
          }
        }
      }
    }
    .dashboard__form-wrapper:after {
      background-image: url("../img/book_banner_img.webp");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      top: 0;
      left: 0;
      position: absolute;
      opacity: 0.5 !important;
      filter: alpha(opacity=50);
      z-index: -1;
      content: "";
      width: 100%;
      height: 100%;
    }

    // .dashboard__stats {

    // }

    .circle {
      display: flex;
      flex-direction: column;
    }
  }