.m0 {
  margin: 0px !important; }

.mr0 {
  margin-right: 0px !important; }

.mr10 {
  margin-right: 10px !important; }

.mr15 {
  margin-right: 15px !important; }

.mr20 {
  margin-right: 20px !important; }

.mr30 {
  margin-right: 30px !important; }

.ml0 {
  margin-left: 0px !important; }

.ml10 {
  margin-left: 10px !important; }

.ml20 {
  margin-left: 20px !important; }

.ml30 {
  margin-left: 30px !important; }

.mt0 {
  margin-top: 0 !important; }

.mt10 {
  margin-top: 10px !important; }

.mt15 {
  margin-top: 15px !important; }

.mt20 {
  margin-top: 20px !important; }

.mt30 {
  margin-top: 30px !important; }

.mt40 {
  margin-top: 40px !important; }

.mt60 {
  margin-top: 60px !important; }

.mb0 {
  margin-bottom: 0px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.header-container {
  display: flex;
  justify-content: flex-end; }
  .header-container a,
  .header-container .router-link-exact-active .router-link-active,
  .header-container .sub-link {
    text-decoration: none; }

.myPage #userForm {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  .myPage #userForm .profileImg .avatar {
    width: 200px;
    height: auto;
    display: block; }
  .myPage #userForm .profileImg #fileBox {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; }
    .myPage #userForm .profileImg #fileBox label {
      display: inline-block;
      padding: 12px 20px;
      font-size: inherit;
      line-height: normal;
      vertical-align: middle;
      cursor: pointer;
      border: 1px solid #EAB543;
      border-radius: 0.25em;
      color: #fff;
      background-color: #EAB543; }
    .myPage #userForm .profileImg #fileBox input[type="file"] {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0; }

.timeline {
  width: 90%; }
  .timeline .isNoData {
    background: #9b9b9b;
    color: #fff;
    width: 80%;
    margin: 0 auto;
    height: 100px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    flex-direction: column;
    padding: 34px;
    margin-bottom: 20px; }
  .timeline .review-opener {
    font-size: 30px; }

.card-container .el-timeline-item__timestamp {
  text-align: right;
  font-size: 15px; }

.card-container .card .form__group {
  position: relative;
  padding: 20px 0 0;
  margin-top: 10px;
  width: 100%; }

.card-container .card .form__group-second {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .card-container .card .form__group-second .form__group-second-item {
    position: relative;
    padding: 20px 0 0;
    margin-top: 10px;
    width: 50%; }
  .card-container .card .form__group-second .writer {
    margin-right: 10px; }

.card-container .card .form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  outline: 0;
  font-size: 1.05rem;
  color: #9b9b9b;
  padding: 2px 0;
  background: transparent;
  transition: border-color 0.2s; }
  .card-container .card .form__field::placeholder {
    color: transparent; }
  .card-container .card .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px; }

.card-container .card .form__field:focus {
  padding-bottom: 6px;
  font-weight: 500;
  border-width: 2px;
  border-image: linear-gradient(to right, #ffd04b, #9b9b9b);
  border-image-slice: 1; }
  .card-container .card .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #ffd04b;
    font-weight: 700; }

.card-container .card .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b; }

.card-container .card .form__button {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px; }

.dashboard {
  display: flex;
  width: 100%;
  justify-content: space-around; }
  .dashboard .dashboard__form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 500px; }
    .dashboard .dashboard__form-wrapper .dashboard__form {
      width: 80%; }
      .dashboard .dashboard__form-wrapper .dashboard__form .goal {
        zoom: 1;
        filter: alpha(opacity=60);
        opacity: 0.9; }
        .dashboard .dashboard__form-wrapper .dashboard__form .goal .el-card__body {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 50px; }
        .dashboard .dashboard__form-wrapper .dashboard__form .goal .form__group {
          position: relative;
          margin-top: 10px;
          width: 80%;
          font-size: 20px;
          text-align: left; }
          .dashboard .dashboard__form-wrapper .dashboard__form .goal .form__group .form__text {
            margin-right: 10px; }
          .dashboard .dashboard__form-wrapper .dashboard__form .goal .form__group .form__text-right {
            display: block;
            text-align: right; }
          .dashboard .dashboard__form-wrapper .dashboard__form .goal .form__group .form__field {
            margin-right: 10px;
            font-family: inherit;
            width: 70%;
            border: 0;
            border-bottom: 1px solid #9b9b9b;
            outline: 0;
            font-size: 1.05rem;
            color: #9b9b9b;
            padding: 2px 0;
            background: transparent;
            transition: border-color 0.2s;
            text-align: center; }
            .dashboard .dashboard__form-wrapper .dashboard__form .goal .form__group .form__field::placeholder {
              color: transparent; }
            .dashboard .dashboard__form-wrapper .dashboard__form .goal .form__group .form__field:placeholder-shown ~ .form__label {
              font-size: 1.3rem;
              cursor: text;
              top: 20px; }
          .dashboard .dashboard__form-wrapper .dashboard__form .goal .form__group .select-genre {
            border-bottom: none;
            width: 70%; }
          .dashboard .dashboard__form-wrapper .dashboard__form .goal .form__group .input-frequent {
            width: 35%; }
          .dashboard .dashboard__form-wrapper .dashboard__form .goal .form__group .input-page {
            width: 20%; }
          .dashboard .dashboard__form-wrapper .dashboard__form .goal .form__group .form__label {
            visibility: hidden; }
        .dashboard .dashboard__form-wrapper .dashboard__form .goal .form__button {
          width: 80%;
          display: flex;
          justify-content: flex-end;
          margin-top: 20px; }
  .dashboard .dashboard__form-wrapper:after {
    background-image: url("../img/book_banner_img.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.5 !important;
    filter: alpha(opacity=50);
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%; }
  .dashboard .circle {
    display: flex;
    flex-direction: column; }
