@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
.m0 {
  margin: 0px !important; }

.mr0 {
  margin-right: 0px !important; }

.mr10 {
  margin-right: 10px !important; }

.mr15 {
  margin-right: 15px !important; }

.mr20 {
  margin-right: 20px !important; }

.mr30 {
  margin-right: 30px !important; }

.ml0 {
  margin-left: 0px !important; }

.ml10 {
  margin-left: 10px !important; }

.ml20 {
  margin-left: 20px !important; }

.ml30 {
  margin-left: 30px !important; }

.mt0 {
  margin-top: 0 !important; }

.mt10 {
  margin-top: 10px !important; }

.mt15 {
  margin-top: 15px !important; }

.mt20 {
  margin-top: 20px !important; }

.mt30 {
  margin-top: 30px !important; }

.mt40 {
  margin-top: 40px !important; }

.mt60 {
  margin-top: 60px !important; }

.mb0 {
  margin-bottom: 0px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.header-container {
  display: flex;
  font-size: 1.1rem; }
  .header-container .logo-container, .header-container .gnb {
    flex: none; }
  .header-container .gnb {
    margin-left: auto;
    display: flex; }
  .header-container .logo {
    width: auto;
    height: 2rem; }
  .header-container a,
  .header-container .router-link-exact-active .router-link-active,
  .header-container .sub-link {
    text-decoration: none; }
  .header-container li.el-menu-item.is-active:not(.logo-li):not(.my-li) {
    border-bottom: 2px solid #b33771; }

.btnBoxRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  position: relative; }
  #app .router-section {
    padding: 20px; }
  #app .vue-scroll-up {
    width: 40px;
    height: 40px;
    background-color: #f2f5f6;
    text-align: center;
    line-height: 40px;
    color: #37447E;
    position: absolute;
    z-index: 10;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin: 1rem;
    border: none;
    outline: none; }
    #app .vue-scroll-up::after {
      content: "▲"; }

.home {
  padding: 20px; }
  .home .home-text {
    color: #929ECC; }
  .home .homeCard {
    width: 100%;
    height: 100%;
    display: flex; }
    .home .homeCard .img-container {
      display: flex;
      justify-content: center;
      align-items: center; }
      .home .homeCard .img-container img {
        width: 90%; }
    .home .homeCard .welcome-container {
      width: 50%;
      height: auto;
      margin: 0 auto;
      text-align: left; }
      .home .homeCard .welcome-container .text-box {
        line-height: 26px;
        margin: 15px 0 60px 0; }
      .home .homeCard .welcome-container .btn-box {
        display: flex; }
        .home .homeCard .welcome-container .btn-box button {
          width: 200px; }

.myPage #userForm {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  .myPage #userForm .profileImg .avatar {
    width: 200px;
    height: auto;
    display: block; }
  .myPage #userForm .profileImg #fileBox {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; }
    .myPage #userForm .profileImg #fileBox label {
      display: inline-block;
      padding: 12px 20px;
      font-size: inherit;
      line-height: normal;
      vertical-align: middle;
      cursor: pointer;
      border: 1px solid #37447E;
      border-radius: 0.25em;
      color: #fff;
      background-color: #37447E; }
    .myPage #userForm .profileImg #fileBox label:hover {
      background-color: #9b9b9b; }
    .myPage #userForm .profileImg #fileBox input[type="file"] {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0; }

.myPage .library {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(154px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 20px; }
  .myPage .library .book-container .comment-alert {
    margin-top: 10px;
    margin-right: 40px; }
  .myPage .library .book {
    height: 226px;
    width: 154px;
    background: #929ECC;
    border: 1px solid #2c3e50;
    box-sizing: border-box;
    box-shadow: 2px 7px 1px lightgray;
    border-radius: 8px;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; }

#signIn,
#userInfo {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }

.currentStatus {
  color: #929ECC;
  font-style: italic; }

.smallBtn {
  margin: 20px 0 0 0px; }

.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 400px;
  min-height: 400px;
  background-color: #FBFBFD; }

.el-main {
  padding-left: 0; }
  .el-main .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto; }
  .el-main .timeline {
    width: 90%;
    padding-left: 20px; }
    .el-main .timeline .isNoData {
      background: #9b9b9b;
      color: #fff;
      width: 80%;
      margin: 0 auto;
      height: 100px;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 23px;
      flex-direction: column;
      padding: 34px;
      margin-bottom: 20px; }
    .el-main .timeline .review-opener {
      font-size: 30px; }

.card-container .el-timeline-item__timestamp {
  text-align: right;
  font-size: 15px; }

.card-container .card .form__group {
  position: relative;
  padding: 20px 0 0;
  margin-top: 10px;
  width: 100%; }
  .card-container .card .form__group .disableScroll {
    overflow: hidden; }

.card-container .card .form__group-second {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .card-container .card .form__group-second .form__group-second-item {
    position: relative;
    padding: 20px 0 0;
    margin-top: 10px;
    width: 50%; }
  .card-container .card .form__group-second .writer {
    margin-right: 10px; }

.card-container .card .form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  outline: 0;
  font-size: 1.05rem;
  color: #9b9b9b;
  padding: 2px 0;
  background: transparent;
  transition: border-color 0.2s; }
  .card-container .card .form__field::placeholder {
    color: transparent; }
  .card-container .card .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px; }

.card-container .card .form__field:focus {
  padding-bottom: 6px;
  font-weight: 500;
  border-width: 2px;
  border-image: linear-gradient(to right, #37447E, #9b9b9b);
  border-image-slice: 1; }
  .card-container .card .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #37447E;
    font-weight: 700; }

.card-container .card .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b; }

.card-container .card .form__button {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px; }

.dashboard {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around; }
  .dashboard .dashboard__form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 500px; }
    .dashboard .dashboard__form-wrapper .dashboard__form {
      width: 80%; }
      .dashboard .dashboard__form-wrapper .dashboard__form .goal {
        zoom: 1;
        filter: alpha(opacity=60);
        opacity: 0.9; }
        .dashboard .dashboard__form-wrapper .dashboard__form .goal .el-card__body {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 50px; }
        .dashboard .dashboard__form-wrapper .dashboard__form .goal .form__group {
          position: relative;
          margin-top: 10px;
          width: 80%;
          font-size: 20px;
          text-align: left; }
          .dashboard .dashboard__form-wrapper .dashboard__form .goal .form__group .form__text {
            margin-right: 10px; }
          .dashboard .dashboard__form-wrapper .dashboard__form .goal .form__group .form__text-right {
            display: block;
            text-align: right; }
          .dashboard .dashboard__form-wrapper .dashboard__form .goal .form__group .form__field {
            margin-right: 10px;
            font-family: inherit;
            width: 70%;
            border: 0;
            border-bottom: 1px solid #9b9b9b;
            outline: 0;
            font-size: 1.05rem;
            color: #9b9b9b;
            padding: 2px 0;
            background: transparent;
            transition: border-color 0.2s;
            text-align: center; }
            .dashboard .dashboard__form-wrapper .dashboard__form .goal .form__group .form__field::placeholder {
              color: transparent; }
            .dashboard .dashboard__form-wrapper .dashboard__form .goal .form__group .form__field:placeholder-shown ~ .form__label {
              font-size: 1.3rem;
              cursor: text;
              top: 20px; }
          .dashboard .dashboard__form-wrapper .dashboard__form .goal .form__group .select-genre {
            border-bottom: none;
            width: 70%; }
          .dashboard .dashboard__form-wrapper .dashboard__form .goal .form__group .input-frequent {
            width: 35%; }
          .dashboard .dashboard__form-wrapper .dashboard__form .goal .form__group .input-page {
            width: 20%; }
          .dashboard .dashboard__form-wrapper .dashboard__form .goal .form__group .form__label {
            visibility: hidden; }
        .dashboard .dashboard__form-wrapper .dashboard__form .goal .form__button {
          width: 80%;
          display: flex;
          justify-content: flex-end;
          margin-top: 20px; }
  .dashboard .dashboard__form-wrapper:after {
    background-image: url("../img/book_banner_img.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.5 !important;
    filter: alpha(opacity=50);
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%; }
  .dashboard .dashboard__stats .stats-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 40px; }
  .dashboard .dashboard__stats .bar-stats-wrapper {
    padding: 40px; }
    .dashboard .dashboard__stats .bar-stats-wrapper .bar-stats {
      list-style: none; }

.searcher {
  height: 300px;
  padding: 33px 17px;
  height: 300px; }
  .searcher .search-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }
