.timeline {
    width: 90%;

    .isNoData {
        background: $form-gray;
        color: $font-white;
        width: 80%;
        margin: 0 auto;
        height: 100px;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 23px;
        flex-direction: column;
        padding: 34px;
        margin-bottom: 20px;
    }
    .review-opener {
        font-size: 30px;
    }  
  }
  
 