@charset "UTF-8";

// ---------------------------------------------------------------
// Header container
// ---------------------------------------------------------------

.header-container {
  display: flex;
  font-size: 1.1rem;
  
  .logo-container, .gnb {
    flex: none;
  }
  .gnb {
    margin-left: auto;
    display: flex;
  }
  .logo {
    width: auto;
    height: 2rem;
  }
  a, 
  .router-link-exact-active .router-link-active,
  .sub-link {
    text-decoration: none;
  }
  li.el-menu-item.is-active:not(.logo-li):not(.my-li) {
    border-bottom: 2px solid rgb(179, 55, 113);
  }
}

// ---------------------------------------------------------------
// Component Layout
// ---------------------------------------------------------------
.btnBoxRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  position: relative;

  .router-section {
    padding: 20px;
  }
// ---------------------------------------------------------------
// scroll-up button
// ---------------------------------------------------------------
  .vue-scroll-up {
    width: 40px;
    height: 40px;
    background-color: #f2f5f6;
    // box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
    text-align: center;
    line-height: 40px;
    color: $form-primary;
    position: absolute;
    z-index: 10;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin: 1rem;
    border: none;
    outline: none;

    &::after {
      content: "▲";
    }

  }
}

