@charset "UTF-8";

// ---------------------------------------------------------------
// Header container
// ---------------------------------------------------------------

.header-container {
  display: flex;
  justify-content: flex-end;

  a, 
  .router-link-exact-active .router-link-active,
  .sub-link {
    text-decoration: none;
  }

}