@charset "UTF-8";
// ---------------------------------------------------------------
// Basic
// ---------------------------------------------------------------

body {
  margin: 0;
  min-height: 100%;
  padding: 0;
  box-sizing: border-box;
}

// ---------------------------------------------------------------
// Header container
// ---------------------------------------------------------------

.header-container {
  display: flex;
  font-size: 1.1rem;

  .logo-container,
  .gnb {
    flex: none;
  }
  .gnb {
    margin-left: auto;
    display: flex;
  }
  a,
  .router-link-exact-active .router-link-active,
  .sub-link {
    text-decoration: none;
  }
  li.el-menu-item.is-active:not(.logo-li):not(.my-li) {
    border-bottom: 2px solid rgb(179, 55, 113);
  }
}

// ---------------------------------------------------------------
// Component Layout
// ---------------------------------------------------------------
.logo {
  width: auto;
  height: 2rem;
}
.btnBoxRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  .router-section {
    height: auto;
    width: 100%;
  }
  // ---------------------------------------------------------------
  // scroll-up button
  // ---------------------------------------------------------------
  .vue-scroll-up {
    width: 40px;
    height: 40px;
    background-color: #f2f5f6;
    // box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
    text-align: center;
    line-height: 40px;
    color: $form-primary;
    position: absolute;
    z-index: 10;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin: 1rem;
    border: none;
    outline: none;

    &::after {
      content: "▲";
    }
  }

  // ---------------------------------------------------------------
  // Header container
  // ---------------------------------------------------------------

  .el-footer {
    background-color: $bar-background;
    height: 200px !important;
    // margin-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 130px;
    bottom: 0;

    ul {
      list-style: none;
    }
    .company-desc {
      width: 100%;
      height: 50%;
      border-bottom: 1px solid $bar-detail;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      li:last-child {
        color: $bar-detail;
      }
    }
    .site-detail {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      ul {
        display: flex;
        flex-direction: row;
        width: 30%;
        height: 100%;
        justify-content: space-between;
        a,
        .router-link-exact-active .router-link-active,
        .sub-link {
          text-decoration: none;
        }
        color: $form-primary-light;
      }
      ul:last-child {
        justify-content: flex-end;
        color: $bar-detail;
        justify-content: space-between;
      }
    }
  }
}
